.nav-link:hover
{
    background-color: gray;
}
.display-4
{
    font-weight: bold;
}
.card-body-icon
{
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 0px;
    opacity: 0.2;
    font-size: 90px;
}